deploy-latest.sh
app.yaml
initialization.py
*.pyc
.DS_Store
*~
media/*

# buildout dirs
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
parts/
project/
src/

# Make simbolic link to a file in buildout.d
buildout.cfg

# dev database
helios.db
